name: Docker Compose Up (Remote)

on:
  workflow_dispatch:
  # TEST ONLY
  #push:
  #  paths:
  #    - './.github/workflows/remote-docker-up.yaml'
  # release:
  #   types:
  #     - published
  workflow_call:
    secrets:
      envPAT:
        required: true
        description: 'Github Token for checking out repo'
      sshKey:
        required: true
        description: 'Private SSH Key used for remote access'
      remoteHost:
        required: true
        description: 'HostName or IP of remote host'
      remoteUser:
        required: true
        description: 'Username for accessing remoteHost'
      remoteDir:
        required: true
        description: 'Directory on remote host with docker-compose file/repo'
      discordBotToken:
        required: true
        description: 'Discord Bot Token'



jobs:
  deploy_to_server:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    steps:
      # Checkout repo to runner
      - name: Checkout Repo
        uses: actions/checkout@v2
        with:
          ref: main
          token: ${{ secrets.envPAT }}
      # Copying files and artifacts via SSH
      - name: Configure SSH and create staging files
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.sshKey }}" > ~/.ssh/staging.key
          chmod 600 ~/.ssh/staging.key
          ssh-keyscan ${{ secrets.remoteHost }} | tee -a ~/.ssh/known_hosts
          echo "DISCORD_BOT_TOKEN=${{ secrets.discordBotToken }}" > .env
          cat >>~/.ssh/config <<END
          Host staging
            HostName ${{ secrets.remoteHost }}
            User ${{ secrets.remoteUser }}
            IdentityFile ~/.ssh/staging.key
          END
      # This is optional with the latest tag
      - name: Update agent copy of repo
        run: |
          ssh staging 'cd ${{ secrets.remoteDir }} && git pull'
      # Couldn't get -H to work properly
      - name: Docker Compose Up
        run: |
          ssh staging 'cd ${{ secrets.remoteDir }} && sudo docker-compose up -d'
      # - name: Run remote docker chain
      #   run: |
      #     sudo docker-compose -H ssh://${{ secrets.remoteUser }}@${{ secrets.remoteHost }} up -d
